@using CampusLifePlanner.Infra.Data.Identity;
@using Microsoft.AspNetCore.Identity
@using RS = CampusLifePlanner.Infra.IoC.Resources.Common;
@model CampusLifePlanner.WebUI.ViewModels.RegisterViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    TempData["Title"] = "Eduplaner | Perfil";
    var user = await UserManager.GetUserAsync(User);
    var userName = User.Identity.IsAuthenticated ? $"{user.FirstName} {user.LastName}" : "Cadastre-se";
}

<style>
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    .avatar-container {
        width: 108px;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        background: #89CFF0;
    }

    .profile-list li {
        border-radius: 4px;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        transition: background 0.3s, color 0.3s;
        cursor: pointer;
    }

    .profile-list i {
        color: #344050;
        margin-right: 10px;
        font-size: 20px;
    }

    .profile-list li:hover {
        background: #2196F3;
        color: #fff;
    }

    .profile-list li p {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

        .profile-list li p:hover, .profile-list li:hover i {
            color: #fff;
        }

    .fade-in {
        animation: fadeIn 1s ease-in-out;
    }

    .profile-list .active {
        background: #2196F3;
        color: #fff;
    }

        .profile-list .active i {
            color: #fff;
        }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

</style>

<div id="enrollCourse" class="row">
    <div class="col-4">
        <div class="card border mt-4">
            <div class="card-body">
                <div class="text-center mb-5">
                    <div class="avatar-container mb-4" style="margin:0 auto;">
                        <input type="file" id="image-input" hidden />
                        <img src="@retornaImagem(user.ImgPath)" class="avatar" id="avatar-image" style="cursor: pointer;" />
                    </div>
                    <h3 class="mb-0">@userName</h3>
                </div>
                <hr />
                <ul class="d-flex flex-column flex list-unstyled pl-4 profile-list">
                    <li class="mb-2 active">
                        <i class="bi bi-person-fill"></i>
                        <p>Perfil</p>
                    </li>
                    <li>
                        <i class="bi bi-wallet"></i>
                        <p>Cursos</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="profile-content" class="col-8 fade-in content">
        <div class="card mt-4">
            <h5 class="card-header">Perfil</h5>
            <form action="UpdateUserName" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="UserName" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="UserName" name="firstName" aria-describedby="UserName" value="@user.FirstName">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="UserLastName" class="form-label">Sobrenome</label>
                            <input type="text" class="form-control" id="UserLastName" name="lastName" aria-describedby="UserLastName" value="@user.LastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="Email" aria-describedby="Email" value="@user.Email" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <a class="btn btn-outline-info">@RS.GENERAL_PAGE_LBL_REMOVE @RS.GENERAL_PAGE_IMAGE_PERFIL.ToLower()</a>
                    <button type="submit" class="btn btn-outline-success float-end">
                        @RS.GENERAL_PAGE_BTN_SAVE @RS.GENERAL_PAGE_LBL_CHANGES.ToLower()
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="courses-content" class="col-8 fade-in content" style="display:none;">
        <div class="card mt-4">
            <h5 class="card-header">Cursos</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <button id="fp-enroll" class="btn btn-primary float-end">@RS.GENERAL_PAGE_BTN_ENROLLMENT @RS.GENERAL_PAGE_LINK_IN.ToLower() @RS.GENERAL_PAGE_LINK_OTHER.ToLower() @RS.GENERAL_PAGE_LBL_COURSE.ToLower()</button>
            </div>
        </div>
    </div>
</div>

@{
    string retornaImagem(string imagemURL)
    {
        string imagePath = string.IsNullOrEmpty(imagemURL)
            ? "Perfil/GD_imgSemImagem.png"
            : $"Perfil/{imagemURL}";

        string imageUrl = Url.Content("~/Resources/" + imagePath);
        return imageUrl;
    }
}

@section Scripts {
    <script>
        SelectCourse();

        $(document).ready(function () {
            $(".content").hide();
            $("#profile-content").show();

            $(".profile-list li").click(function () {
                $('.profile-list li').removeClass('active');

                $(this).addClass('active');

                var clickedItem = $(this).find('p').text();

                $(".content").hide();

                if (clickedItem === "Perfil") {
                    $("#profile-content").show();
                } else if (clickedItem === "Cursos") {
                    $("#courses-content").show();
                }
            });
        });

        function SelectCourse() {
            $.get("@Url.Action("GetCoursesByUserId", "Account")", { userId: '@Guid.Parse(user.Id)' })
                .done(function (courses) {
                    let ul = $("#courses-content").find("ul");
                    ul.empty();
                    courses.forEach(course => {
                        let li = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').text(course.name);
                        ul.append(li);
                    });
                });
        }

        $("#fp-enroll").on('click', function () {
            $("#enrollCourse").empty();

            $.get("@Url.Action("RelatedEnrollmentCourse", "Home")", function (data) {
                $("#enrollCourse").html(data);
                window.myCallbackSuccess = function () {
                    returnView();
                };
            });
        });

        function returnView() {
            window.location.href = "@Url.Action("Profile", "Account")";
        }

        $('#avatar-image').click(function () {
            $('#image-input').click();
        });

        $('#image-input').change(function () {
            var formData = new FormData();
            var file = $(this)[0].files[0];
            formData.append('imageFile', file);

            $.ajax({
                url: '@Url.Action("UploadImage", "Account")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    location.reload();
                }
            });
        });
    </script>
}