@model CampusLifePlanner.WebUI.ViewModels.EventEditViewModel;
@using RS = CampusLifePlanner.Infra.IoC.Resources.Common;
@{
    ViewBag.title = Model.Event.Id == Guid.Empty ? RS.GENERAL_PAGE_BTN_ADD + " " + RS.GENERAL_PAGE_LBL_EVENT.ToLower() : RS.GENERAL_PAGE_BTN_EDIT + " " + RS.GENERAL_PAGE_LBL_EVENT.ToLower();
    var modalId = "modal_" + Guid.NewGuid();
    var startDateValue = Model.Event.StartDate != DateTime.MinValue ? Model.Event.StartDate.ToString("yyyy-MM-ddTHH:mm") : DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
}

<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventModalLabel">@ViewBag.title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    @Html.HiddenFor(a => a.Event.Id)
                    @Html.HiddenFor(a => a.Event.JobId)
                    <div class="mb-3">
                        <span style="color:red">*</span>
                        <label for="eventTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="eventTitle" name="Event.Title" value="@Model.Event.Title">
                    </div>
                    <div class="mb-3">
                        <span style="color:red">*</span>
                        <label for="eventLocal" class="form-label">Local</label>
                        <input type="text" class="form-control" id="eventLocal" name="Event.Local" value="@Model.Event.Local">
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <span style="color:red">*</span>
                            <label for="eventStartDateTime" class="form-label">Data e Hora inicial</label>
                            <input type="datetime-local" class="form-control" id="eventStartDateTime" name="Event.StartDate" value="@startDateValue">
                        </div>
                        <div class="col-6 mb-3">
                            <span style="color:red">*</span>
                            <label for="eventEndDateTime" class="form-label">Data e Hora final</label>
                            <input type="datetime-local" class="form-control" name="Event.EndDate" value="@(Model.Event.EndDate != DateTime.MinValue ? Model.Event.EndDate.ToString("yyyy-MM-ddTHH:mm") : "")">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="eventDescription" class="form-label">@RS.EVENT_PAGE_LBL__DESCRIPTON</label>
                        <input type="text" class="form-control" id="eventDescription" name="Event.Description" value="@Model.Event.Description">
                    </div>
                    <div class="mb-3">
                        <label>Cor: </label>
                        <select id="Event.Color" name="Event.Color" class="form-control">
                            <option value="">Defeault</option>
                            <option name="red" style="color: red" value="red">Red</option>
                            <option name="blueviolet" style="color: blueviolet" value="blueviolet">Blueviolet</option>
                            <option name="green" style="color: green" value="green">Green</option>
                            <option name="purple" style="color: purple" value="purple">Purple</option>
                            <option name="pink" style="color: pink" value="pink">pink</option>
                        </select>
                    </div>
                    <span style="color:red">*</span>
                    <label for="courseId" class="form-label">Curso</label>
                    <select class="form-control" asp-for="@Model.Event.CourseId" asp-items="@Model.Courses"></select>
                </form>
            </div>
            <div class="modal-footer">
                @if (Model.Event.Id != Guid.Empty)
                {
                    <a asp-controller="Event" asp-action="SharedEvent" asp-route-id="@Model.Event.Id" class="btn btn-primary">@RS.GENERAL_PAGE_LBL_SHARED_EVENT</a>
                    <button type="button" class="btn btn-danger fp-del" value="@Model.Event.Id">@RS.GENERAL_PAGE_LBL_DELETE</button>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@RS.GENERAL_PAGE_LBL_CANCEL</button>
                <button type="submit" class="btn btn-primary fp-save">@RS.GENERAL_PAGE_BTN_SAVE</button>
            </div>
        </div>
    </div>

    <script>
        $("#@modalId").modal('show');

        $("#@modalId [name='Event.Color']").val('@Model.Event.Color');

        $(document).ready(function () {
            $(".fp-save").click(function () {
                let formData = $("#eventForm").serialize();
                let url = $("#@modalId").data("url");
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $("#@modalId").data('callback-success')();
                            $("#@modalId").modal('hide');
                        }
                        else {
                            ExceptionMessage(response.message, response.type);
                        }
                    }
                });
            });

            $(".fp-del").click(function () {
                let id = $(this).val();
                $.post("@Url.Action("ModalDelete")")
                    .done(function (modal) {
                        $modal = $(modal);
                        let modalId = $modal.attr("id");
                        $modal.data("callback-success", function () {
                            location.reload(true);
                        });
                        $("body").append($modal);
                        $("body #" + modalId + " " + ".fp-delete").val(id);
                    });
            });
        });

        $(document).ready(function () {
            $("#@modalId").on('hidden hidden.bs.modal', function () {
                $("#@modalId").remove();
            });
        });
    </script>

</div>