@using RS = CampusLifePlanner.Infra.IoC.Resources;
@model CampusLifePlanner.Application.DTOs.EventDto;
@{
    ViewBag.title = Model.Id == Guid.Empty ? RS.Common.GENERAL_PAGE_BTN_ADD + " " + RS.Common.GENERAL_PAGE_LBL_EVENT.ToLower() : RS.Common.GENERAL_PAGE_BTN_EDIT + " " + RS.Common.GENERAL_PAGE_LBL_EVENT.ToLower();
    var modalId = Guid.NewGuid();
    var courseList = ViewBag.Courses;
}

<div class="modal modal-shared" id="@modalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(a => a.Id)
            <div class="modal-header">
                <h5 class="modal-title">@RS.Common.GENERAL_PAGE_BTN_SHARED</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja compartilhar o evento <strong>@Model.Title</strong> para qual curso?</p>
                <select class="form-control mt-2" asp-for="CourseId" asp-items="@courseList"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@RS.Common.GENERAL_PAGE_LBL_CANCEL</button>
                <button type="button" class="btn btn-primary fp-submit">@RS.Common.GENERAL_PAGE_BTN_SHARED</button>
            </div>
        </div>
    </div>
    @section Scripts{

        <script>

            console.log("Teste");
            alert("oi");
            $(".fp-submit").click(function () {
                debugger;
                console.log("Botão Compartilhar clicado!");
                let eventId = '@Model.Id';
                let targetCourseId = $("#@modalId select[name='CourseId']").val();

                // Chame o método SignalR
                connection.invoke("ShareEvent", eventId, targetCourseId)
                    .catch(function (err) {
                        return console.error(err.toString());
                    });

                // Feche a modal
                $("#@modalId").modal("hide");
            });
        </script>
    }
    
</div>