@model IEnumerable<CampusLifePlanner.Application.DTOs.CourseDto>
@using RS = CampusLifePlanner.Infra.IoC.Resources;
@{
    ViewData["Title"] = RS.Common.GENERAL_PAGE_LBL_COURSE;
    var container = Guid.NewGuid();
}

<div id="@container" class="card">
    <div class="card-header">
        <div class="align-items-center row">
            <div class="col-10 d-flex">
                <h5>Course</h5>
            </div>
            <div class="col-2 align-items-center justify-content-center d-flex">
                <a class="btn btn-outline-primary fp-add">Adicionar curso</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-hover">
            <thead>
                <tr class="bg-secondary text-white">
                    <th>Nome do Curso</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary fp-edit" value="@course.Id">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger fp-del" value="@course.Id">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".fp-add").click(function () {
                $.get("@Url.Action("Modal_Create_Course")")
                    .done(function (modal) {
                        let $modal = $(modal);
                        $modal.data("callback-success", function(){
                            location.reload(true);
                        }).data("url", '@Url.Action("Create")');
                        $("#@container").append($modal);
                    });
            });
        });



        $(".fp-edit").click(function () {
            let id = $(this).val();
            $.post("@Url.Action("Edit")", { id: id })
            .done(function (modal) {
                    let $modal = $(modal);
                    $modal.data("callback-success", function () {
                        location.reload(true);
                    }).data("url", '@Url.Action("Update")');
                    $("#@container").append($modal);
            });
        });
        
        $(".fp-del").click(function () {
            let id = $(this).val();
            $.get("@Url.Action("ModalDelete")")
                .done(function (modal) {
                    $modal = $(modal);
                    let modalId = $modal.attr("id");
                    $modal.data("callback-success", function(){
                        location.reload(true);
                    });
                    $("body").append($modal);
                    $("body #" + modalId + " " + ".fp-delete").val(id);
                });
        });

    </script>
}